

body {
    font-family: "Century Gothic", "URW Gothic", sans-serif;
    background-color:lavenderblush;
}
a {
    display: block;
    width: 200px;
    height: 100px;
    text-decoration: none;
    color: lavenderblush;
    font-family: "Century Gothic", "URW Gothic", sans-serif;
    font-size: 20px;
    border: 2px, solid, plum;
    border-radius: 8px;
    padding-top: 30px;
    box-sizing: border-box;
    
}
h1 {
    text-align:center;
    font-size: 60px;
    color:plum;
    margin-bottom: 50px;
}
h2 {
    color:plum;
    text-align: center;

}

ul {
    list-style-type: none;
    text-align:center;
}

.link {
    display: inline-block;
    margin: 10px;
    background-color: #3e2e55;
    border-radius: 8px;
    overflow:hidden;
    text-align: center;
    
}
.text.text-2{
    color:#3e2e55;
}
.text-2 {
    text-align: center;
}
.congrats {
    color: plum;
    text-align:center;
}
li {
    margin-bottom: 10px;
}
.link-home {
    display: block;
    margin: 10px auto;
    background-color: #3e2e55;
    border-radius: 8px;
    overflow:hidden;
    text-align: center
}
ul.text {
    text-align:left;
    margin-left: 25px;
}
img {
    display:block;
    margin: 30px auto;
    border-radius: 15px;
    max-width:100%;
    height:auto;
    border: 6px double #b19cd9;
}